.back-button {
  background-color: rgba(231, 130, 14, 0.87);
  border: none;
  color: rgb(255, 246, 163);
  font-size: 24px;
  cursor: pointer;
  border: rgba(255, 241, 110, 0.726) solid 3px;
  border-radius: 10px;
  width: 90px;
  text-align: center;
  font-weight: 700;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.main2 {
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.preTitle {
  font-size: 2rem;
  color: rgba(255, 230, 0, 0.753);
  margin-bottom: 5px;
  height: 5vh;
}

.content-anime-detail{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.anime-detail-container {
  width: 28%;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.imgSelected{
  border-radius: 15px;
  height: 60vh;
  width: 40vh;
}

.seasons-container {
  margin-top: 10px;
  width: 68%;
}

.season-section {
  margin-bottom: 20px;
  border-bottom: rgb(192, 192, 192) solid 3px;
  padding: 10px;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.episode-button {
  width: 90px;
  height: 90px;
  background-color: #333;
  color: white;
  border: 2px solid #555;
  border-radius: 8px;
  font-size: 25px;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.3s ease;
}

.episode-button:hover {
  background-color: #e50914;
  border-color: #e50914;
  transform: scale(1.05);
}